body{

background:#eef3f8;

font-family:Segoe UI;

}

.left-panel{

background:linear-gradient(135deg,#0d6efd,#6610f2);

display:flex;

justify-content:center;

align-items:center;

}

.login-card{

width:420px;

padding:40px;

background:white;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.form-control{

height:50px;

border-radius:10px;

}

.btn{

height:50px;

border-radius:10px;

font-weight:bold;

}

a{

text-decoration:none;

}